@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

img,
video,
iframe {
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

body {
    font-size: 16px;
    color: #000;
    line-height: 22px;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #f8f0e4;
    min-width: 1450px;
}

html {
    cursor: url(./mainbanner_image/cursor.png), auto
}

#header {
    background-color: #112b23;
    color: #fff;
}

#header_inner {
    width: 1320px;
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    font-size: 16px;
}

/*
호버*/
#header_inner ul li a {
    position: relative;
}

#header_inner ul li a::after {
    content: "";
    background-color: #fff;
    display: block;
    height: 1px;
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
}

#header_inner ul li a:hover::after {
    width: 100%;
    transition: all 0.5s;
}

/*호버*/
.login {
    display: flex;
}

.logo {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.login li {
    padding-left: 20px;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu li {
    padding: 0 15px;
    font-size: 16px;
}

/*해더 끝*/
#header_img {
    margin: 0 auto;
    background-image: url(./community_image/banner.jpg);
    background-attachment: fixed;
    height: 640px;
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

#community {
    width: 1320px;
    margin: 0 auto;
}

#community h1 {
    font-family: 'aubrey';
    text-align: center;

    padding-bottom: 80px;
    font-size: 60px;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 1300px;
}

th {
    border-top: 1px solid #000;
    padding: 30px 0px;
}

td {
    text-align: center;
}

.notice {
    width: 866px;
    text-align: left;
}

.number {
    text-align: center;
    padding-bottom: 131px;
}

.review {
    margin: 0 auto;
    width: 1320px;
    padding-left: 70px;
}

.review h1 {
    font-family: 'aubrey';
    font-size: 60px;
    padding-bottom: 115px;

}

#community img {
    padding-right: 20px;
}

@keyframes movement {
    0% {
        background-position: 0px 0px;
    }

    100% {
        background-position: 3941px 0px;
        /*배경이미지 길이만큼 설정합니다!*/
    }
}

.photo {
    width: 100%;
    height: 214px;
    /*배경이미지 높이로 설정*/
    background: url(./community_image/reviewall.png) repeat-x left top;
    background-size: auto 214px;
    animation: movement 20s linear infinite;
}

/*푸터*/
#line {
    border-top: 1px solid #000;
    margin-top: 166px;
}

#footer {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    padding-top: 41px;
}

#footer p {
    padding-bottom: 30px;
    line-height: 33px;
}

.footer_inner2 {
    display: flex;
    padding-top: 113px;
}

.footer_inner1 h1 {
    padding-bottom: 28px;
}

.inner2_1 {
    width: 218px;
}

.inner2_2 {
    width: 191px;
}